@*
*@
@{
}
<h1>First Task Variant 4</h1>
<h3>Enter parameters following these rules</h3>
<ul>
    <li>P mod 4 = 3</li>
    <li>Q mod 4 = 3</li>
</ul>

<form asp-action="Calculate" method="post">
    <input type="number" name="paramP"/>
    <input type="number" name="paramQ"/>
    <input type="submit" />
</form>

